body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:705px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:165px;
  width:600px;
  height:87px;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:27px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:27px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:27px;
  width:100px;
  height:30px;
  color:#999999;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:57px;
  width:100px;
  height:30px;
  color:#999999;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
