<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inner.lovetao">
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Jpush -->
    <permission
        android:name="com.inner.lovetao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.inner.lovetao.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".LoveTaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <!-- arms 配置 -->
        <meta-data
            android:name="com.inner.lovetao.core.GlobalConfiguration"
            android:value="ConfigModule" />
        <!-- Bomb 配置 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.inner.lovetao"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.inner.lovetao.BmobContentProvider" />

        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="bomb" />
        <!-- Bomb 配置 -->
        <!--Jpush 配置-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.inner.lovetao.DataProvider"
            android:exported="true"
            tools:replace="android:authorities,exported" />
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.inner.lovetao.DownloadProvider"
            android:exported="true"
            tools:replace="android:authorities" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.inner.lovetao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.inner.lovetao" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.inner.lovetao" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".j_push.AliasReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.inner.lovetao" />
            </intent-filter>
        </receiver>
        <!--User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".j_push.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--Required 用户注册 SDK 的 intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收 SDK 消息的 intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收 SDK 通知栏信息的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的 intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.inner.lovetao" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="${JPUSH_APPKEY}"
            tools:replace="android:value" />
        <!--Jpush 配置-->
        <activity
            android:name=".index.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".index.activity.GuildActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="lovetao" />
            </intent-filter>
        </activity>
        <activity
            android:name=".search.mvp.ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".search.mvp.ui.activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".channel.ui.activity.ShelvesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.mvp.ui.activity.SettingActivity"
            android:label="@string/settings_set"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginregister.mvp.ui.activity.TBLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginregister.mvp.ui.activity.BindPhoneActivity"
            android:label="@string/bind_phone_num_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.mvp.ui.activity.SuggestActivity"
            android:label="@string/ac_suggest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.mvp.ui.activity.AboutUsActivity"
            android:label="@string/ac_about_us"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mineassets.mvp.ui.activity.EarningsActivity"
            android:label="@string/mine_earnings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mineassets.mvp.ui.activity.EarningsDetailActivity"
            android:label="@string/earnings_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product_detail.mvp.ui.activity.ProductDetailActivity"
            android:label="@string/ac_product_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.mvp.ui.activity.WebActivity"
            android:label="@string/ac_web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux" />
        <activity
            android:name=".settings.mvp.ui.activity.ContactServiceActivity"
            android:label="@string/ac_contact_service"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mineassets.mvp.ui.activity.MineCollectionActivity"
            android:label="@string/ac_mine_collection"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mineassets.mvp.ui.activity.MyStudentActivity"
            android:label="@string/ac_my_student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.mvp.ui.activity.MessageActivity"
            android:label="@string/ac_message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mineassets.mvp.ui.activity.MyOrderActivity"
            android:label="@string/mine_order"
            android:screenOrientation="portrait" />
        <!--Bomb更新-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--设置淘宝登录页面Activity的样式-->
        <activity
            android:name="com.ali.auth.third.ui.LoginActivity"
            android:theme="@style/AlibcLoginTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".flutter_ac.PupilFlutterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>